body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.white-space {
  width: 100%;
  height: 100px;
  background-color: white;
}

/* main */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 숙소&교통편 안내 */
.information {
  width: 90%;
  max-width: 900px;
  height: 100px;

  border-radius: 20px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.information:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.information a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.information a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.youtube-videos {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.youtube-videos-title {
  text-align: right;
}

.youtube-videos-title p {
  margin: 0 0 20px 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.video-container-1,
.video-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.video_small_container {
  display: flex;
  gap: 20px;
}

.video {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video iframe {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 0;
  padding: 10px;
}

.small {
  width: 24vw;
  height: 24vw;
  max-width: 300px;
  max-height: 300px;
}

.large {
  width: 44vw;
  height: 44vw;
  max-width: 500px;
  max-height: 500px;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .information {
    width: 90%;
    padding: 0px 20px;
  }

  .information a {
    font-size: 18px;
    padding: 6px 15px;
  }

  .youtube-videos-title p {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .small {
    width: 25vw;
    height: 25vw;
  }

  .large {
    width: 40vw;
    height: 40vw;
  }

  .white-space {
    display: none;
  }
}

@media (max-width: 436px) {
  .information {
    width: 90%;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .information a {
    font-size: 16px;
    padding: 0px 12px;
  }

  .video-container-1 {
    display: none;
  }

  .youtube-videos-title {
    display: none;
  }

  .large {
    width: 80vw;
    height: 80vw;
  }

  .large iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
