.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 80%;
  max-width: 1200px;
  height: 60vh;
  max-height: 95vh;
  background-color: white;
  border-radius: 40px;
  display: flex;
  overflow: hidden;
}

.modal-image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-info {
  width: 50%;

  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bottom-info {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  background-color: white;
}

.modal-info h2 {
  font-size: 2vw;
  font-weight: bold;
  margin: 10px 0 0 30px;
}

.modal-info p {
  margin: 10px 40px 0 30px;
  font-weight: 300;
  font-size: 1vw;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.description {
  font-size: 0.8vw;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: calc(100% - 200px);
  min-height: 150px;
}

.address,
.homepage {
  margin-bottom: 10px;
  margin-top: auto;
}

/* 768px 중단점 */
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    height: 60vh;
  }

  .modal-image {
    width: 100%;
    height: 60%;
  }

  .modal-info {
    width: 100%;
    height: 40%;
  }

  .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .modal-info .description {
    font-size: 1.5vw;
    max-height: calc(100% - 150px);
    min-height: 100px;
  }

  .modal-info .address,
  .modal-info .homepage {
    font-size: 1.5vw;
  }
}

/* 436px 중단점 */
@media (max-width: 436px) {
  .modal-image {
    height: 65%;
  }

  .modal-info {
    height: 35%;
    padding: 5px;
  }

  .description {
    font-size: 1.8vw;
    max-height: calc(100% - 120px);
    min-height: 80px;
  }

  .bottom-info {
    bottom: 20px;
  }

  .close-button {
    top: 0;
  }
}
